<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
  </head>

  <body>

    <div ng-controller="SignUpController as ctl">
      <p>{{ ctl.firstName }}</p>
    <form>
        Email: <br/> <input ng-model="ctl.formEmail" type="text" name="email"> {{ ctl.formEmail }} <br />
        Password: <br/> <input ng-model="ctl.formPassword" type="text" name="password"><br />
        Password again: <br /> <input ng-model="ctl.formPasswordRepeat" type="text" name="password-repeat"><br />
        <input ng-click="ctl.submitForm()" type="submit" value="Submit">
      </form>
    </div>


    <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("app/volt.js")"></script>
    <script>angular.bootstrap(document, ['app']);</script>
  </body>
</html>